@import '../../../styles/variables';
@import '../../../styles/font';

.wrap {
  display: flex;
  flex-direction: column;
  border-bottom: 1px dashed $secondary-bg-color;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 100;
}

.input__wrap {
  display: flex;
  align-items: center;
}

.input {
  width: 1rem;
  height: 1rem;
  accent-color: $secondary-bg-color;
  background: rgba(249, 249, 249, 0.67);
  border: 1px solid $secondary-bg-color;
  border-radius: 1rem;
  margin-right: 1rem;
}

.error__wrap {
  min-height: 2.2rem;
  color: $fort-error-text;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
}