@import '../../../styles/variables';
@import '../../../styles/font';

.input__wrap {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  border-bottom: 1px dashed $secondary-bg-color;
  padding-bottom: 2rem;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 100;
  position: relative;

  &_radio {
    margin: 0.5rem;
    accent-color: $secondary-bg-color;
  }
}

.error__wrap {
  position: absolute;
  bottom: 0;
  left: -27%;
  color: $fort-error-text;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
}
