@import '../styles/variables';
@import '../styles/font';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $main-bg-color;
  min-height: 100vh;
}

.container {
  width: 80%;
  margin: 0 auto;
}
