@import '../../styles/variables';
@import '../../styles/font';

.card__list {
  display: grid;
  grid-template-columns: repeat(3, 42rem);
  gap: 2rem;
}

.error__message {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 100;
  font-size: 2rem;
  line-height: 3.5rem;
  color: $font-text-color;
  text-align: center;
}

@media (max-width: 1310px) {
  .card__list {
    display: grid;
    grid-template-columns: repeat(2, 42rem);
    gap: 3rem;
  }
}

@media (max-width: 960px) {
  .card__list {
    display: grid;
    grid-template-columns: 42rem;
    gap: 3rem;
  }
}

@media (max-width: 420px) {
  .card__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}
